*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Signika Negative", sans-serif;
}

:root{
    --white-color: #fff;
    --black_clr: #010101;
    --whitesmoke: #f3f3f3;
    --white: #fff;
    --black:#000;
}

.nav_contents{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo h2{
    padding: 10px 0;
}
.nav_links ul{
    display: flex;
    list-style-type: none;
}
.nav_links ul li {
    padding: 15px;
    font-size: 18px;
}

.box60{
    animation-name:box60;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: .5s ease;

}
@keyframes box60{
    0%{
      transform: scale(0);
    }
    50%, 100%{
       transform: scale(1.0, 1.1);
    }
}

.row{
    padding: 100px 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    
} 

.about img{
width:100%;
height:100%;
border-radius: 25px;
}
.about h2{
font-size: 35px;

}


.about h3{
 color:#009999;
 font-size: 20px;
 text-transform: capitalize;
 text-align: center;
 margin-bottom: 19px;
}
.money{
    justify-content: space-between;
}

.web_dev{
    background-color: #f2f2f2;
    /* color: white; */
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    height: 21px;
    margin: 10px 0;

}
.web_ink{
    background-color: black;
    width: 60%;
    

}
.web_fev{
    background-color: #f2f2f2;
    /* color: white; */
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    height: 21px;
    margin: 10px 0;

}
.web_onk{
    background-color: black;
    width: 30%;
}
.button1{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 40px;
    box-shadow: black;
    border: none;
}
.button2{
    background-color: white;
    height: 40px;
    border-radius: 5px;
    box-shadow: black;
    border: 1px solid black;
}
.web_sev{
    background-color: #f2f2f2;
    /* color: white; */
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    height: 21px;
    margin: 10px 0;

}
.web_wnk{
    background-color: black;
    width: 50%;
}
.web_onk p{
    color: white;
}
.web_wnk p{
    color: white;
}
.web_ink p{
    color: white;
}

.nav_links ul li:hover{
    /* text-decoration: underline; */
    border-bottom: 1px solid var(--white-color);
    cursor: pointer;
    transition: all .7s;
    font-weight: bold;

}
.nav_menu{
    display: none;
}
.nav_menu i{
    font-size: 20px;
    border: 2px solid var(--white-color);
    padding: 8px;
    border-radius: 10px;
}
#xmark{
    display: none;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 185px 0;
}
.center h2{
    font-size: 2.7rem;
}
.center h3{
    font-size: 2rem;
    font-weight: lighter;
}

.web_Icons{
    margin: 35px 0;
}
#icon-fr{
    padding: 10px;
    font-size: 20px;
}
#icon-fr:hover{
    cursor: pointer;
    background: var(--black_clr);
    transition: .3s;
    transform: translateY(10px);
    border-radius: 50%;
    padding: 10px;
}

#home{
    background: linear-gradient(rgba(9, 9, 9, 0.7), rgb(9, 9, 9, 0.8)), 
    url(https://plus.unsplash.com/premium_photo-1719943510748-4b4354fbcf56?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fG5hdHVyZXxlbnwwfDB8MHx8fDA%3D) no-repeat center center/cover;
    color: var(--white-color);
    height: 100vh;
}

.all{
    background:var(--whitesmoke);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
h2{
  text-align: center;
  font-size: 1.5rem;
}
.all span{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}
.grid div{
    background: var(--white);
    margin: 10px;
}
.boxes{
    box-shadow:0 0 2px var(--black);
    padding: 10px;
}
.icons{
    text-align: center;
}
.boxes i{
    background: var(--whitesmoke);
    padding: 10px;
}

/* Media Querry */
@media screen and (min-width: 0) and (max-width: 750px) {
    .nav_menu{
        display: block;
    }
    .nav_links{
        display: none;
    }
    .row{
        display: block;
    }
    .box30{
        margin: 40px 0;     
    }
    .box60 img{
        width: 50%;
    }
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 0) and (max-width: 750px) {
    .grid{
        grid-template-columns: auto;
    }
}